@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;0,700;1,100;1,500&display=swap');

body{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.decorate_link{
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

a{
    text-decoration: none;
}


h2{
    font-family: 'Poppins', sans-serif;
    
}

h4{
    margin: 0px;
    padding: 0px;
    color: white;
    font-weight: 500;
    font-size: 12px;
}
.classTable{
    width: 90%;
    height: 100%;
    margin: auto;
    /* background-color: white; */
    display: flex;
    align-items: center;

}

.tableWrapper{
    width: 100%;
    height: 90%;
    background-color: white;
    
}

.class_edit_text{
    background-color: green;
    color: white;
    border: 0px;
    height: 40%;
    width: 40%;
    border-radius: 2px;
    
}
.class__delete_icon{
    color: red;
}

.createSubBtn{
    width: 130px;
    height: 40px;
    margin-left: 30px;
    background-color: rgb(75, 72, 72);
    border: none;
    margin-bottom: 10px;
    color: white;
    outline-style: none;
}

.comboContainer{
    width: 100%;
    height: 100%;
    /* background-color: blueviolet; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.comboholder{
    font-family: 'Poppins', sans-serif;
    width: 80%;
    height: 80%;
    background-color: white;
    display: flex;
    justify-content: center;
}

.addStdSubComboForm{
    width: 80%;
    height: 50%;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    /* flex: 2; */
}
.addStdSubComboForm>div{
    font-family: 'Poppins', sans-serif;
    margin-top: 20px;
    
}

.addStdSubComboForm>input{
    font-family: 'Poppins', sans-serif;
    width: 20%;
    background-color: rgb(66, 64, 64);
    height: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    border: none;
    color: white;
    border-radius: 5px;
    
}

.addStdSubComboForm>button{
    font-family: 'Poppins', sans-serif;
    width: 20%;
    background-color: rgb(66, 64, 64);
    height: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    border: none;
    color: white;
    border-radius: 5px;
    
}
.addStdSubComboForm>div>select{
    width: 100%;
    outline: none;
    height: 40px;
    
}

.addStdSubComboForm>div>input{
    width: 100%;
    outline: none;
    height: 35px;
    
}

.student_form_box{
    width: 100%;
    height: 100%;
    background-color: rgb(222, 222, 222);
    display: flex;
    align-items: center;
    justify-content: center;
}
.student_form{
    width: 70%;
    height: 100%;
    background-color: white;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.student_form>div{
    width: 80%;
    flex: 2;   
}



.student_form>input{
    font-family: 'Poppins', sans-serif;
    width: 15%;
    height: 40px;
    background-color: rgb(66, 64, 64);
    border: none;
    margin-bottom: 20px;
    color: white;
        
}

.student_form>div>label{
    color: rgb(58, 58, 58);
    font-size: 14px;
}
.student_form>div>input{
    width: 100%;
    height: 35px;
    outline: none;
    margin-top: 2px;
}
.student_form>div>select{
    width: 100%;
    height: 35px;
    outline: none;
    margin-top: 2px;
}

.iamnotfoundpage{
    font-size: 150px;
    margin: 0px;
}

input{
    border: 1px solid rgb(227, 226, 226);
    border-radius: 5px;
}

label{
    color: rgb(183, 183, 183);
}



